.logo{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
#container{
    max-width: 995px;
    background-color: rgb(7, 10, 32);
    margin: auto;
    height: 60vh;
    border-radius: 10px;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    

}
.message{
    background-color: antiquewhite ;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    /* border: 2px solid black; */
    border-radius: 10px;

}
.right{
    background-color: rgb(75, 132, 211);
    float: right;
    clear: both;

}
.left{
     background-color: rgb(125, 228, 125);
     float: left;
     clear: both;

}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 985px;
    height: 100%;
}
#MessageINP{

    width: 91%;
    border-radius: 6px;
    height: 32px;
}
.btn{

    cursor: pointer;
    border-radius: 6px;
    height: 32px;
    width: 70px;
}




body{
    height: 100vh;
    background-image: linear-gradient(rgb(73, 101, 212) , rgb(43, 56, 158));

}